.second-main {
  height: 80vh;
  padding: 80px;
}

.second-page-data {
  padding: 1px;
}

.p-1px {
  padding: 1px;
}

.test {
  border: 1px solid black;
}

.test-l {
  border-left: 1px solid black;
}

.test-t {
  border-top: 1px solid black;
}

.test-b {
  border-bottom: 1px solid black;
}

.test-r {
  border-right: 1px solid black;
}

.test-2 {
  border: 2px solid black;
}

.test-l-2 {
  border-left: 2px solid black;
}

.test-t-2 {
  border-top: 2px solid black;
}

.test-b-2 {
  border-bottom: 2px solid black;
}

.test-r-2 {
  border-right: 2px solid black;
}

.height-150 {
  height: 150px;
}

.height-100 {
  height: 100px;
}
.w-33 {
  width: 33%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-30 {
  width: 30%;
}

.w-20 {
  width: 20%;
}

.w-15 {
  width: 15%;
}
.w-10 {
  width: 10%;
}
.w-40 {
  width: 40%;
}

.w-35 {
  width: 35%;
}

.w-90 {
  width: 90%;
}

.h-80v {
  height: 80vh;
}

.h-90v {
  height: 90vh;
}

.h-100v {
  height: 100vh;
}

.h-100p {
  height: 100px;
}

.h-90p {
  height: 90px;
}

.h-80p {
  height: 80px;
}

.h-70p {
  height: 70px;
}
.h-60p {
  height: 60px;
}
.h-50p {
  height: 50px;
}

.h-45p {
  height: 45px;
}
.h-40p {
  height: 40px;
}

.h-30p {
  height: 30px;
}
.h-20p {
  height: 20px;
}

.h-10p {
  height: 10px;
}

.text-underline {
  text-decoration: underline;
}

.mb-600 {
  margin-bottom: 600px;
}

.mb-400 {
  margin-bottom: 400px;
}

.mb-300 {
  margin-bottom: 300px;
}

.mb-320 {
  margin-bottom: 320px;
}
.mb-200 {
  margin-bottom: 200px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-50 {
  margin-bottom: 50px;
}

.p-100px {
  padding: 100px;
}
.space-line {
  white-space: pre-line;
}

.f-12 {
  font-size: 12px;
}

.f-10 {
  font-size: 10px;
}

.f-8 {
  font-size: 8px !important;
}

.h-26p {
  height: 26px;
}

.address {
  font-size: 10px;
}

.pdf-h-w {
  height: 1022px;
  width: 780px;
  font-size: 14px;
}

.third-page {
  height: 1050px;
  width: 794px;
  font-size: 10px;
}

.uparrow-button {
  position: fixed;
  bottom: 20px;
  right: 50px;
  /* padding: 0; */
}
.print-button {
  /* position: fixed;
    top: 200px;
    right: 30px; */
  width: 220px;
}

.temperature {
  background-color: rgba(167, 158, 34, 0.555);
  -webkit-print-color-adjust: exact;
}

.parameter {
  background-color: lightgray;
  -webkit-print-color-adjust: exact;
}

.para {
  background-color: lightblue;
  -webkit-print-color-adjust: exact;
}

.bg-green {
  background-color: green;
  -webkit-print-color-adjust: exact;
}

.bg-red {
  background-color: red;
  -webkit-print-color-adjust: exact;
}
.th-color {
  background-color: lightgray;
  -webkit-print-color-adjust: exact;
}

.process-img {
  z-index: 0;
}

.z-index-1 {
  z-index: 1;
}

@media print {
  .f-10 {
    font-size: 10px;
  }
}
@media print {
  .f-8 {
    font-size: 8px;
  }
}

@media print {
  .space-line {
    white-space: pre-line;
  }
}

@media print {
  .page-break {
    page-break-after: always;
    page-break-inside: avoid;
    page-break-before: avoid;
    -webkit-column-break-after: always;
    break-after: always;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    -webkit-column-break-before: avoid;
    break-before: avoid;
  }
}

@media print {
  .temperature {
    background-color: rgba(167, 158, 34, 0.555) !important;
    -webkit-print-color-adjust: exact;
  }
}

@media print {
  .parameter {
    background-color: lightgray !important;
    -webkit-print-color-adjust: exact;
  }
}

@media print {
  .para {
    background-color: lightblue !important;
    -webkit-print-color-adjust: exact;
  }
}

@media print {
  .bg-green {
    background-color: green !important;
    -webkit-print-color-adjust: exact;
  }
}

@media print {
  .bg-red {
    background-color: red !important;
    -webkit-print-color-adjust: exact;
  }
}

@media print {
  .th-color {
    background-color: lightgray !important;
    -webkit-print-color-adjust: exact;
  }
}
.page-break {
  page-break-after: always;
  page-break-inside: avoid;
  page-break-before: avoid;
  -webkit-column-break-after: always;
  break-after: always;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  -webkit-column-break-before: avoid;
  break-before: avoid;
}
